@import "/src/styles.scss";

.generic_toggler{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;;

    width:48px;
    height:48px;
}

.generic_toggler__icon{
    width:100%;
    font-size:16pt;
    display: flex;
    align-items: center;
    justify-content: center;;
    vertical-align: top;
}
.generic_toggler__text{
    font-size: 8px;
}