.generic_toggler{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;;

    width:36px;
    height:36px;
    background-color:black;
    color:white;
}

.generic_toggler__icon{
    width:100%;
    font-size:14pt;
    display: flex;
    align-items: center;
    justify-content: center;;
    vertical-align: top;
}
.generic_toggler__text{
    font-size: 8px;
}