<header class="site_header">
  <div class="site_header_inner">
    <img class="site_header__logo" [src]="logoURL">
    <div class="site_header__title">{{title}}</div>
    <generic-toggler class="global_menu_call"  [ngClass]="{on:toggler.active}" #toggler [target]="menu" offFA="fas fa-bars" activeFA="fas fa-times" text="MENU" ></generic-toggler>
  </div>
</header>
<nav class="global_nav">
  <v-acordion #menu class="global_menu">
    <ul class="global_menu__list">
      <li class="global_menu__item" *ngFor="let route of naviMap"><a class="global_menu__item__link" [href]="route.route"><i [class]="'global_menu__item__icon '+route.faClazz"></i>{{route.title}}</a></li>
    </ul>
  </v-acordion>
</nav>
<back-screen [connected]="menu"></back-screen>
