@import "/src/styles.scss";

.site_header{
    @include contents_skin;
    @include inversive_skin;
    border-bottom:solid 1px $color-separater;
    width:100%;
    z-index:200;
    overflow: hidden;
}
.site_header_inner{
    @include contents_container;
    display: flex;
    align-items: center;
    border-right:solid 1px $color-separater;
    border-left:solid 1px $color-separater;
}

.site_header__branding{
    @include inversive_skin;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.site_header__logo{
    max-height: 100%;
    max-width:48px;
    flex-shrink: 0;
}
.site_header__title{
    flex-shrink:1;
    margin-left:1rem;
    font-size:1rem;
}
.global_menu_call{
    @include inversive_skin;
    flex-shrink: 0;
    margin-left:auto;
    border-left:solid 1px $color-separater;
}
.global_menu_call.on{
    @include contents_skin;
}
.global_nav_wrapper{
    width:100%;
}
.global_nav{
    @include inversive_skin;
    z-index:100;
}
.global_menu{
    position: absolute;
    left:0;
    right:0;
}

.global_menu__list{
    @include contents_container;
}
.global_menu__item{
    margin:auto;
    list-style: none;
    width:100%;
    border-bottom:solid 1px $color-separater;
}
.global_menu__item__icon{
    margin-right:1rem;
}

.global_menu__item__link{
    padding:1rem;
    width:100%;
    height:100%;
    display: block;
    border:none;
    text-decoration: none;
}
.global_menu__item__link,.global_menu__item__link:visited{
    color:$color-contents_txt;
    background-color: $color-contents_bg;
}
.generic_toggler{
    margin-right:0;
}