.site_header{
    display: flex;
    position: relative;
    align-items: center;
    background-color: #f5f5f5;
    border-bottom:solid 1px gainsboro;
    width:100%;
    z-index:1;
}
.site_header__logo{
    max-height: 100%;
    max-width:48px;
    flex-shrink: 0;
}
.site_header__title{
    margin-left:1rem;
    font-size:16pt;
    flex-shrink:0;
    flex-grow: 1;
}
.global_menu_call{
    margin-left:auto;
}

.global_menu{
    display: block;
    background-color: black;
    color:white;
    position: absolute;
    width:100%;
}

.generic_toggler{
    margin-right:0;
}