$color-main_txt:#232323;
$color-main_bg:#ddd;

$color-secondary:#383838;
$color-accent:rgb(255, 176, 30);

$color-inversive_txt:#ddd;
$color-inversive_bg:#232323;

$color-contents_txt:$color-main_txt;
$color-contents_bg:#efefef;

$color-header_txt:$color-contents_txt;
$color-header_bg:$color-contents_bg;

$color-separater:#aaa;